/* Estilo padrão claro */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, sans-serif;
  padding: 0;
}

body.escuro {
  background-color: #121212;
  color: white;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}


